.root {
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 1.0em;
    outline: none;
}

.contained {
    background-color: var(--primary-color);
    color: #FFF;
}

.text {
    position: relative;
    color: var(--primary-color);
}

.text:hover::after {
    background-color: currentColor;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .1;
    content: '';
}