.root {
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 1.0em;
    outline: none;
}

.contained {
    background-color: blue;
    color: #FFF;
}

.outlined {
    color: blue;
    border: 1px solid #00000030;
}

.text {
    color: blue;
}