.root {
  list-style: none;
  cursor: pointer;
}

.header {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header:hover {
  background-color: var(--accent-color-light);
}

.header:hover .title {
  color: var(--accent-color-dark);
}

.headerExpanded {
  background-color: var(--accent-color-light);
  color: var(--accent-color-dark);
}

.title {
  height: 56px;
  margin: 0;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  font-weight: normal;
  flex: 1;
}

.titleExpanded {
  color: var(--accent-color-dark);
  border-bottom: none;
}

.ingredientsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientsList {
  padding: 0;
  margin: 0;
  text-align: center;
}

.ingredientsListItem {
  list-style-type: none;
  height: 32px;
}

.ingredientsTitle {
  font-size: 1.0em;
}

.spacer {
  width: 8px;
}
