.root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #000;
  }

  .container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  @media(min-width: 650px) {
    .container {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 400px;
    }
  }

  .headerContainer {
    height: 48px;
    border-bottom: 1px solid #00000030;
    padding-left: 16px;
    display: flex;
    align-items: center;
  }

  .header {
    flex: 1;
    font-weight: normal;
    font-size: 1.4rem;
  }

  .form {
    padding: 24px;
    flex: 1;
  }

  .spacer {
    height: 12px;
  }

  .horizontalSpacer {
    width: 8px;
  }

  .buttonsContainer {
    height: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #00000030;
    padding-right: 16px;
  }