.inputContainer {
    position: relative;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    background-color: aliceblue;
    flex-direction: column;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .label {
    position: absolute;
    pointer-events: none;
    left: 8px;
    bottom: 16px;
    transition: transform 0.2s ease;
    transform-origin: left;
    color: #000000AA;
  }

  .input {
    height: 32px;
    border: none;
    border-bottom: 1px solid #00000030;
    padding-left: 8px;
    transition: border-color 0.2s ease;
    font-size: 1.1em;
    background-color: inherit;
  }

  .input:focus {
    outline: none;
    border-color: blue;
  }

  .input:focus ~ .label {
    transform: translateY(-14px) scale(0.75);
    color: blue;
  }

  .labelFilled {
    transform: translateY(-14px) scale(0.75);
  }

  .helperText {
    margin-top: 4px;
    font-size: 0.8em;
    color: #00000088;
    padding-left: 8px;
  }