.root {
  margin: 20px auto;
  max-width: 800px;
}

.list {
  position: relative;
  margin: 0;
  padding: 8px 0 56px 0;
}

.listItem {
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 1.2em;
  padding-left: 16px;
  list-style: none;
  margin-top: 8px;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 40px;
  font-size: 1.2em;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  background-color: greenyellow;
  display: inline-flex;
  cursor: pointer;
}