.root {
  margin: 20px auto;
  max-width: 800px;
}

.list {
  position: relative;
  margin: 0;
  padding: 8px 0 56px 0;
}

.listItem {
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 1.2em;
  padding-left: 16px;
  list-style: none;
  margin-top: 8px;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 40px;
  font-size: 1.2em;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  background-color: greenyellow;
  display: inline-flex;
  cursor: pointer;
}

.modalRoot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: #000;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-color: #FFF;
  border-radius: 8px;
}

.modalHeaderContainer {
  height: 48px;
  border-bottom: 1px solid #00000030;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.modalHeader {
  flex: 1;
  font-weight: normal;
  font-size: 1.4rem;
}

.modalHeaderIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: lightgray;
  font-size: 1.2em;
}

.modalForm {
  padding: 24px;
}

.spacer {
  margin-top: 12px;
}
